<a href="https://colab.research.google.com/github/HuzaifaKhan20/Python-Assignment-4/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], (&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;), [7, 8, 9] )
• Print all elements from my_tuple on a new line (using for loop)
• Create a new tuple by concatenating the first and last elements of my_tuple

In [1]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )

# Part 1: Print all elements from my_tuple on a new line
for item in my_tuple:
    print(item)

# Part 2: Create a new tuple by concatenating the first and last elements
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print("\nNew Tuple:", new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

New Tuple: (1, 2, 3, 7, 8, 9)

Q2. inventory = { &quot;The Great Gatsby&quot;: {&quot;price&quot;: 10.99, &quot;quantity&quot;: 5}, &quot;Rich dad poor dad&quot;: {&quot;price&quot;:
8.99, &quot;quantity&quot;: 8}, &quot;Harry Potter&quot;: {&quot;price&quot;: 12.50, &quot;quantity&quot;: 2}, }
• Add a new book in inventory using method and get all book titles using method
• Remove a book if it&#39;s out of stock

In [5]:
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich Dad Poor Dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

# Part 1: Add a new book to inventory
inventory["The Catcher in the Rye"] = {"price": 9.99, "quantity": 4}
print(inventory)


# Part 2: Get all book titles using keys() method
book_titles = list(inventory.keys())
print("\nBook Titles:", book_titles)

# Part 3: Remove a book if it's out of stock
# Check each book's quantity and remove the book if it's out of stock
for book, details in list(inventory.items()):
    if details["quantity"] == 0:
        del inventory[book]

# Print updated inventory
print("\nUpdated Inventory:", inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The Catcher in the Rye': {'price': 9.99, 'quantity': 4}}

Book Titles: ['The Great Gatsby', 'Rich Dad Poor Dad', 'Harry Potter', 'The Catcher in the Rye']

Updated Inventory: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The Catcher in the Rye': {'price': 9.99, 'quantity': 4}}

Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
category, price, and stock quantity.
products = { 101: {&quot;name&quot;: &quot;Laptop&quot;, &quot;category&quot;: &quot;Electronics&quot;, &quot;price&quot;: 1200, &quot;stock&quot;: 50}, 102:
{&quot;name&quot;: &quot;Shirt&quot;, &quot;category&quot;: &quot;Apparel&quot;, &quot;price&quot;: 25, &quot;stock&quot;: 200}, 103: {&quot;name&quot;: &quot;Coffee Maker&quot;,
&quot;category&quot;: &quot;Home Appliances&quot;, &quot;price&quot;: 80, &quot;stock&quot;: 30} }
• Increase the stock of the &quot;Shirt&quot; product (add 50 more units)
• Add a new product (e.g., &quot;Smartphone&quot;)

In [6]:
# Initial products dictionary
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

# Part 1: Increase the stock of the "Shirt" product (ID 102) by 50 units
products[102]["stock"] += 50

# Part 2: Add a new product, "Smartphone"
products[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 699,
    "stock": 100
}

# Print updated products dictionary
print("Updated Products:", products)

Updated Products: {101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 699, 'stock': 100}}

Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
shopping_list = [&quot;apple&quot;, &quot;banana&quot;, &quot;apple&quot;, &quot;orange&quot;, &quot;banana&quot;, &quot;grape&quot;]

In [7]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Convert the list to a set to remove duplicates
unique_items = set(shopping_list)

# Print the result
print("Unique items:", unique_items)

Unique items: {'grape', 'banana', 'apple', 'orange'}

Q5. You are managing a list of students enrolled in two different courses. You need to perform
various set operations to understand the student enrollment. Task: Create two sets: one for students
in &quot;Course A&quot; and one for students in &quot;Course B&quot;. Find the students who are in &quot;Course A&quot; but not in
&quot;Course B&quot; (difference). Find students who are only in one of the two courses (symmetric
difference). course_a = {&quot;John&quot;, &quot;Alice&quot;, &quot;Bob&quot;, &quot;David&quot;} course_b = {&quot;Alice&quot;, &quot;Eve&quot;, &quot;Charlie&quot;,
&quot;David&quot;}
• Find students who are in Course A but not in Course B (difference)
• Find students who are only in one of the two courses (symmetric difference)

In [8]:
# Define the student sets for Course A and Course B
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Task 1: Find students in Course A but not in Course B (difference)
students_in_a_not_b = course_a - course_b
print("Students in Course A but not in Course B:", students_in_a_not_b)

# Task 2: Find students who are only in one of the two courses (symmetric difference)
students_in_one_course = course_a ^ course_b
print("Students who are only in one of the two courses:", students_in_one_course)

Students in Course A but not in Course B: {'Bob', 'John'}
Students who are only in one of the two courses: {'Charlie', 'Bob', 'Eve', 'John'}

Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
(inclusive) using a for loop.
Hint
1. Initialize a variable to hold the sum (e.g., sum_of_evens).
2. Use a for loop to iterate through all numbers from 1 to 50.
3. Inside the loop, check if the number is even.
4. If the number is even, add it to sum_of_evens.
5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [9]:
# Initialize variable to hold the sum of even numbers
sum_of_evens = 0

# Use a for loop to iterate through all numbers from 1 to 50
for number in range(1, 51):
    # Check if the number is even
    if number % 2 == 0:
        # Add the even number to the sum
        sum_of_evens += number

# Print the total sum of all even numbers between 1 and 50
print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

The sum of all even numbers between 1 and 50 is: 650

Q7. Write a Python program that prints the multiplication table for a given number (between 1 and
10) using a for loop.

Hint:
1. Ask the user for a number between 1 and 10 .
2. Use a for loop to iterate through the numbers from 1 to 10.
3. For each iteration, calculate the product of the given number and the current number in the
loop.
4. Print the result in a readable format (e.g., 5 x 1 = 5).
5. Ensure the program works correctly for any number between 1 and 10.

Output Hint:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [10]:
# Ask the user for a number between 1 and 10
number = int(input("Enter a number between 1 and 10: "))

# Ensure the number is within the valid range
if 1 <= number <= 10:
    # Use a for loop to iterate through numbers 1 to 10
    for i in range(1, 11):
        # Calculate the product and print the result in the format "number x i = result"
        print(f"{number} x {i} = {number * i}")
else:
    print("Please enter a valid number between 1 and 10.")

Enter a number between 1 and 10: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1
to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.

In [11]:
# Ask the user to input a number
number = int(input("Enter a number: "))

# Initialize a counter variable for the exponent
i = 1

# Use a while loop to calculate and print powers of the number from 1 to 10
while i <= 10:
    # Calculate the power and print it in the format "number^i = result"
    print(f"{number}^{i} = {number ** i}")
    # Increment the counter
    i += 1

Enter a number: 3
3^1 = 3
3^2 = 9
3^3 = 27
3^4 = 81
3^5 = 243
3^6 = 729
3^7 = 2187
3^8 = 6561
3^9 = 19683
3^10 = 59049

Q9. Problem Statement: Write a Python program that takes an integer input from the user and
counts down from that number to 0. The program should display the current number at each step
until it reaches 0, at which point it should print a message indicating the countdown is finished
Output Hint:
Enter a number to start the countdown: 3
3
2
1
0
Countdown finished!

In [12]:
# Ask the user to input a number to start the countdown
number = int(input("Enter a number to start the countdown: "))

# Use a while loop to count down from the given number to 0
while number >= 0:
    print(number)
    number -= 1  # Decrease the number by 1 after each step

# After reaching 0, print a message indicating the countdown is finished
print("Countdown finished!")

Enter a number to start the countdown: 4
4
3
2
1
0
Countdown finished!

Q10. Write a Python program that takes an integer input n from the user and generates a right-
angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2
stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.
# Pattern:
*
**
***
****
*****

In [13]:
# Ask the user to input the number of rows for the triangle
n = int(input("Enter the number of rows for the triangle: "))

# Generate the right-angled triangle pattern
for i in range(1, n + 1):
    # Print stars in the current row with spaces between them
    print(" ".join("*" * i))

Enter the number of rows for the triangle: 4
*
* *
* * *
* * * *